# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.
_build/
.bzr/
.bzrignore
.DS_Store
.git/
.gitignore
.gnupg/
.hg/
.hgignore
.idea/
.markdownlint*
.project
.svn/
.venv/
.vscode/
*.bak
*.orig
*.swp
*.tmp
*.tmproj
*~
# Common backup files
# Common VCS dirs
# Various IDEs
Pipfile*
