[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
loguru = "*"
gitpython = "*"
pipenv = "*"

[dev-packages]
"sphinxcontrib.autoyaml" = "*"
myst-parser = {extras = ["linkify"], version = "*"}
sphinx = "*"
sphinx-autobuild = "*"
sphinx-book-theme = "*"
sphinx-design = "*"
sphinx-nefertiti = "*"
version-query = "*"
