name: Test Helm Chart
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch: {}


###
# ```{rubric} Permissions Updates
# ```
# Enable read for contents and issues, and write for checks and PRs.
#
# ```{literalinclude} /.github/workflows/pages.yml
# :language: yaml
# :start-at: "permissions:\n"
# :end-before: "###\n"
# ```
permissions:
  contents: read
  issues: read
  checks: write
  pull-requests: write

###
# ```{rubric} Workflow Jobs
# ```
# ---
# A workflow run is made up of one or more
# jobs that can run sequentially or in parallel
#
jobs:
  ###
  # ```{rubric} Helm Setup
  # ```
  # ---
  # Setup Helm requirements for GHA.
  #
  # ```{literalinclude} /.github/workflows/helm.yml
  # :language: yaml
  # :start-at: "  helmsetup:\n"
  # :end-before: "###\n"
  # ```
  helmsetup:
    name: helmsetup
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - run: |
          curl https://baltocdn.com/helm/signing.asc | gpg --dearmor | sudo tee /usr/share/keyrings/helm.gpg > /dev/null
          sudo apt-get install apt-transport-https --yes
          echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/helm.gpg] https://baltocdn.com/helm/stable/debian/ all main" | sudo tee /etc/apt/sources.list.d/helm-stable-debian.list
          sudo apt-get update
          sudo apt-get install -y helm

  ###
  # ```{rubric} Helm Lint
  # ```
  # ---
  # Check that the Helm YAML in this repo will pass lint.
  #
  # ```{literalinclude} /.github/workflows/helm.yml
  # :language: yaml
  # :start-at: "  helmlint:\n"
  # :end-before: "###\n"
  # ```
  helmlint:
    name: helmlint
    needs: helmsetup
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - run: helm lint redis/

  ###
  # ```{rubric} Helm Test
  # ```
  # ---
  # Run the helm unit tests without enough coverage.
  #
  # ```{literalinclude} /.github/workflows/helm.yml
  # :language: yaml
  # :start-at: "  helmtest:\n"
  # ```
  helmtest:
    name: helmtest
    needs: helmsetup
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - run: helm plugin install https://github.com/helm-unittest/helm-unittest
      - run: helm unittest -f 'redis/tests/*test.yaml' -t JUnit -o results.xml redis/
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v4
        if: success() || failure() # always run even if the previous step fails
        with:
          report_paths: 'results.xml'
